In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import math
%matplotlib inline

HO: μ = 120 mm Hg <br>
H1: μ > 120 mm Hg<br>
SD = 21.21 mm Hg<br>

The standard deviation of the population is unknown -> we are using Student-t.<br>
We want to test a directional hypothesis -> one-tailed Test.

We calculate the critical value:

In [15]:
print("The critical value is", round(stats.t.ppf(0.95, df=99),4))

The critical value is 1.6604

In [25]:
t = (130.1-120)/(21.21/math.sqrt(100))
print(round(t,4))

4.7619

4.7619 > 1.6604 -> We can reject H0.

<br>
optional
<br>

In [27]:
machine_df = pd.read_excel("Machine.xlsx")

In [28]:
machine_df

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1