In [2]:
import pandas as pd
import numpy as np

In [3]:
student_data = pd.read_csv("student_df.csv")

In [4]:
student_data

     student_id student__first_name    country  age  has_rabbit
0             1               David  Argentina   24        True
1             2               Grace     Canada   23       False
2             3               Julia     Mexico   24       False
3             4               Julia     Mexico   20       False
4             5               Alice     Canada   22       False
..          ...                 ...        ...  ...         ...
995         996               Frank     Canada   24       False
996         997               Isaac     Brazil   21       False
997         998               Isaac     Canada   23        True
998         999                Emma        USA   24        True
999        1000               Alice        USA   19        True

[1000 rows x 5 columns]

In [5]:
set(student_data.country)

{'Argentina', 'Brazil', 'Canada', 'Mexico', 'USA'}

In [7]:
student_data['country'].value_counts()

USA          311
Mexico       212
Canada       200
Brazil       178
Argentina     99
Name: country, dtype: int64

In [9]:
student_data['country'].value_counts().median()

200.0

In [18]:
country_df = student_data['country'].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [19]:
country_df

  unique_values  counts
0           USA     311
1        Mexico     212
2        Canada     200
3        Brazil     178
4     Argentina      99

In [20]:
countries_below = country_df[country_df['counts'] <= student_data['country'].value_counts().median()]
countries_above = country_df[country_df['counts'] > student_data['country'].value_counts().median()]

In [35]:
list(countries_below['unique_values'])

['Canada', 'Brazil', 'Argentina']

In [39]:
for country in list(countries_below['unique_values']):
    filtered_df1 = student_data[student_data['country'] == country]

In [40]:
filtered_df1

     student_id student__first_name    country  age  has_rabbit
0             1               David  Argentina   24        True
11           12                 Bob  Argentina   19       False
18           19               Grace  Argentina   19       False
37           38              Hannah  Argentina   20        True
54           55              Hannah  Argentina   21        True
..          ...                 ...        ...  ...         ...
919         920              Hannah  Argentina   20        True
920         921               Julia  Argentina   24       False
944         945                Emma  Argentina   19        True
972         973               David  Argentina   23       False
976         977               Julia  Argentina   24       False

[99 rows x 5 columns]

In [45]:
filtered_df1 = pd.DataFrame(columns=['student_id','student__first_name', 'country', 'age', 'has_rabbit'])
filtered_df2 = pd.DataFrame(columns=['student_id','student__first_name', 'country', 'age', 'has_rabbit'])

In [46]:
for country in list(countries_below['unique_values']):
    # create a filtered dataframe based on the target country
    temp_df = countries_below[countries_below['unique_values'] == country][['student_id','student__first_name', 'country', 'age', 'has_rabbit']]
    filtered_df1 = filtered_df1.append(temp_df, ignore_index=True)

KeyError: "None of [Index(['student_id', 'student__first_name', 'country', 'age', 'has_rabbit'], dtype='object')] are in the [columns]"