Import the required libraries and modules that you would need.

In [46]:
import pandas as pd
import csv
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

%matplotlib inline

Read that data into Python and call the dataframe churnData.

In [47]:
churnData_df = pd.read_csv(r'DATA_Customer-Churn.csv')
churnData_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type.
Convert this column into numeric type using pd.to_numeric function. Check for null values in the dataframe. Replace the null values.

In [48]:
churnData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [49]:
churnData_df['TotalCharges'] = pd.to_numeric(churnData_df['TotalCharges'], errors="coerce")

In [50]:
avg = numpy.average(churnData_df['TotalCharges'])

In [51]:
churnData_df.fillna(churnData_df.mean())

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [52]:
churnData_df['TotalCharges'].mean()

2283.3004408418697

In [53]:
churnData_df['TotalCharges'].replace(to_replace = 0, value = 2283.3004408418697)

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [54]:
churnData_df['TotalCharges'].mean()

2283.3004408418697

Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
Split the data into a training set and a test set.

In [55]:
churnData_df.drop(["gender","Partner","Dependents","PhoneService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract"],axis=1,inplace=True)
churnData_df = churnData_df.fillna(churnData_df.mean())

In [57]:
churnData_df['Churn'] = churnData_df['Churn'].replace({'Yes': 1, 'No': 0})

In [58]:
print(churnData_df.isnull().sum())

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
Churn             0
dtype: int64

In [59]:
RAND_STATE = 34 # for reproducible shuffling
TT_RATIO = 0.3 # test/train

Scale the features either by using normalizer or a standard scaler.

In [60]:
X = churnData_df.drop('Churn', axis=1)
y = churnData_df.Churn
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TT_RATIO, random_state=RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
3273              0      33           68.25       2171.15
3672              0      54           70.15       3715.65
13                0      49          103.70       5036.30
4538              0       3           85.80        272.20
5126              0      57          103.05       5925.75

In [61]:
print(churnData_df.isnull().sum())

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
Churn             0
dtype: int64

In [62]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [64]:
def evaluate_classification_model(y_train, y_pred_train, y_test, y_pred_test):
    """
    Generates performance metrics and comparisons of labels with their predicted values
    :param y_train: training labels
    :param y_pred_train: predictions from the model on the training set
    :param y_test: test labels
    :param y_pred_test: predictions from the model on the test set
    :returns: 3 dfs - Accuracy, Precision, and Recall scores, y_train vs. y_pred_train and y_test vs. y_pred_dist
    """
    performance_df = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train),
                                         precision_score(y_train, y_pred_train),
                                         recall_score(y_train, y_pred_train)],
                               'Test': [accuracy_score(y_test, y_pred_test),
                                        precision_score(y_test, y_pred_test),
                                        recall_score(y_test, y_pred_test)]})
    
    pd.options.display.float_format = '{:.2f}'.format

    df_train = pd.DataFrame({'Real': y_train, 'Predicted': y_pred_train})
    df_test  = pd.DataFrame({'Real': y_test,  'Predicted': y_pred_test})

    return performance_df, df_train, df_test

Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.

In [63]:
model = KNeighborsClassifier(n_neighbors=5,weights='uniform')
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
y_pred_train=model.predict(X_train_scaled)

In [65]:
error_metrics_df,y_train_vs_predicted, y_test_vs_predicted =evaluate_classification_model(y_train, y_pred_train,y_test, y_pred)
error_metrics_df

  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.74  0.57
2       Recall   0.59  0.44

In [79]:
k=1
while k<15:
    model = KNeighborsClassifier(n_neighbors=k,weights='uniform')
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    y_pred_train=model.predict(X_train_scaled)
    print("Number of Neigbors:",k)
    error_metrics_df,y_train_vs_predicted, y_test_vs_predicted =evaluate_classification_model(y_train, y_pred_train,y_test, y_pred)
    print(error_metrics_df)
    print("")
    k+=1

Number of Neigbors: 1
  Error_metric  Train  Test
0     Accuracy   0.99  0.73
1    Precision   0.98  0.51
2       Recall   0.98  0.49

Number of Neigbors: 2
  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.99  0.62
2       Recall   0.48  0.28

Number of Neigbors: 3
  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.78  0.56
2       Recall   0.66  0.47

Number of Neigbors: 4
  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.85  0.61
2       Recall   0.48  0.34

Number of Neigbors: 5
  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.74  0.57
2       Recall   0.59  0.44

Number of Neigbors: 6
  Error_metric  Train  Test
0     Accuracy   0.83  0.76
1    Precision   0.79  0.59
2       Recall   0.47  0.36

Number of Neigbors: 7
  Error_metric  Train  Test
0     Accuracy   0.82  0.76
1    Precision   0.72  0.58
2       Recall   0.54  0.45

Number of Neigbors: 8
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.76  0.62
2       Recall   0.45  0.39

Number of Neigbors: 9
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.72  0.60
2       Recall   0.52  0.45

Number of Neigbors: 10
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.62
2       Recall   0.46  0.41

Number of Neigbors: 11
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.71  0.59
2       Recall   0.51  0.45

Number of Neigbors: 12
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.61
2       Recall   0.47  0.41

Number of Neigbors: 13
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.71  0.60
2       Recall   0.50  0.45

Number of Neigbors: 14
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.62
2       Recall   0.46  0.41

(optional)Fit a logistic Regression model on the training data.