Import the required libraries and modules that you would need.

In [11]:
import pandas as pd
import csv
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
import warnings
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
warnings.filterwarnings("ignore", category=FutureWarning)

%matplotlib inline

Read that data into Python and call the dataframe churnData.

In [12]:
churnData_df = pd.read_csv(r'DATA_Customer-Churn.csv')
churnData_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type.
Convert this column into numeric type using pd.to_numeric function. Check for null values in the dataframe. Replace the null values.

In [13]:
churnData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [14]:
churnData_df['TotalCharges'] = pd.to_numeric(churnData_df['TotalCharges'], errors="coerce")

In [15]:
churnData_df.fillna(churnData_df.mean())

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
Split the data into a training set and a test set.

In [16]:
churnData_df.drop(["gender","Partner","Dependents","PhoneService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract"],axis=1,inplace=True)
churnData_df = churnData_df.fillna(churnData_df.mean())

In [17]:
churnData_df['Churn'] = churnData_df['Churn'].replace({'Yes': 1, 'No': 0})

In [18]:
print(churnData_df.isnull().sum())

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
Churn             0
dtype: int64

In [19]:
RAND_STATE = 34 # for reproducible shuffling
TT_RATIO = 0.3 # test/train

Scale the features either by using normalizer or a standard scaler.

In [20]:
X = churnData_df.drop('Churn', axis=1)
y = churnData_df.Churn
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TT_RATIO, random_state=RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
3273              0      33           68.25       2171.15
3672              0      54           70.15       3715.65
13                0      49          103.70       5036.30
4538              0       3           85.80        272.20
5126              0      57          103.05       5925.75

In [21]:
print(churnData_df.isnull().sum())

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
Churn             0
dtype: int64

In [22]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
def evaluate_classification_model(y_train, y_pred_train, y_test, y_pred_test):
    """
    Generates performance metrics and comparisons of labels with their predicted values
    :param y_train: training labels
    :param y_pred_train: predictions from the model on the training set
    :param y_test: test labels
    :param y_pred_test: predictions from the model on the test set
    :returns: 3 dfs - Accuracy, Precision, and Recall scores, y_train vs. y_pred_train and y_test vs. y_pred_dist
    """
    performance_df = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train),
                                         precision_score(y_train, y_pred_train),
                                         recall_score(y_train, y_pred_train)],
                               'Test': [accuracy_score(y_test, y_pred_test),
                                        precision_score(y_test, y_pred_test),
                                        recall_score(y_test, y_pred_test)]})
    
    pd.options.display.float_format = '{:.2f}'.format

    df_train = pd.DataFrame({'Real': y_train, 'Predicted': y_pred_train})
    df_test  = pd.DataFrame({'Real': y_test,  'Predicted': y_pred_test})

    return performance_df, df_train, df_test

Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.

In [24]:
model = KNeighborsClassifier(n_neighbors=5,weights='uniform')
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
y_pred_train=model.predict(X_train_scaled)

In [25]:
error_metrics_df,y_train_vs_predicted, y_test_vs_predicted =evaluate_classification_model(y_train, y_pred_train,y_test, y_pred)
error_metrics_df

  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.74  0.57
2       Recall   0.59  0.44

In [26]:
k=1
while k<15:
    model = KNeighborsClassifier(n_neighbors=k,weights='uniform')
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    y_pred_train=model.predict(X_train_scaled)
    print("Number of Neigbors:",k)
    error_metrics_df,y_train_vs_predicted, y_test_vs_predicted =evaluate_classification_model(y_train, y_pred_train,y_test, y_pred)
    print(error_metrics_df)
    print("")
    k+=1

Number of Neigbors: 1
  Error_metric  Train  Test
0     Accuracy   0.99  0.73
1    Precision   0.98  0.51
2       Recall   0.98  0.49

Number of Neigbors: 2
  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.99  0.62
2       Recall   0.48  0.28

Number of Neigbors: 3
  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.78  0.56
2       Recall   0.66  0.47

Number of Neigbors: 4
  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.85  0.61
2       Recall   0.48  0.34

Number of Neigbors: 5
  Error_metric  Train  Test
0     Accuracy   0.84  0.76
1    Precision   0.74  0.57
2       Recall   0.59  0.44

Number of Neigbors: 6
  Error_metric  Train  Test
0     Accuracy   0.83  0.76
1    Precision   0.79  0.59
2       Recall   0.47  0.36

Number of Neigbors: 7
  Error_metric  Train  Test
0     Accuracy   0.82  0.76
1    Precision   0.72  0.58
2       Recall   0.54  0.45

Number of Neigbors: 8
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.76  0.62
2       Recall   0.45  0.39

Number of Neigbors: 9
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.72  0.60
2       Recall   0.52  0.45

Number of Neigbors: 10
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.62
2       Recall   0.46  0.41

Number of Neigbors: 11
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.71  0.59
2       Recall   0.51  0.45

Number of Neigbors: 12
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.61
2       Recall   0.47  0.41

Number of Neigbors: 13
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.71  0.60
2       Recall   0.50  0.45

Number of Neigbors: 14
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.75  0.62
2       Recall   0.46  0.41

(optional)Fit a logistic Regression model on the training data.

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import accuracy_score, precision_score, recall_score


log_model = LogisticRegression() 

## Data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=11)

trans = PowerTransformer()

trans.fit(X_train)

X_train_mod = trans.transform(X_train)
X_test_mod  = trans.transform(X_test)

log_model.fit(X_train_mod, y_train)

y_pred_train_log = log_model.predict(X_train_mod)
y_pred_test_log = log_model.predict(X_test_mod)

performance_log = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train_log),
                                         precision_score(y_train, y_pred_train_log),
                                         recall_score(y_train, y_pred_train_log)],
                               'Test': [accuracy_score(y_test, y_pred_test_log),
                                        precision_score(y_test, y_pred_test_log),
                                        recall_score(y_test, y_pred_test_log)]})

display(performance_log)

  Error_metric  Train  Test
0     Accuracy   0.79  0.80
1    Precision   0.65  0.70
2       Recall   0.43  0.46

In [28]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

In [29]:
k=1
while k<15:
    model = DecisionTreeClassifier(max_depth=k)
    model.fit(X_train, y_train)
    y_pred_train_dt = model.predict(X_train)
    y_pred_test_dt = model.predict(X_test)
    print("Depth:",k)
    performance_df = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Train': [accuracy_score(y_train, y_pred_train_dt),
                                         precision_score(y_train, y_pred_train_dt),
                                         recall_score(y_train, y_pred_train_dt)],
                               'Test': [accuracy_score(y_test, y_pred_test_dt),
                                        precision_score(y_test, y_pred_test_dt),
                                        recall_score(y_test, y_pred_test_dt)]})
    print(performance_df)
    print("")
    k+=1

Depth: 1
  Error_metric  Train  Test
0     Accuracy   0.74  0.73
1    Precision   0.00  0.00
2       Recall   0.00  0.00

Depth: 2
  Error_metric  Train  Test
0     Accuracy   0.78  0.78
1    Precision   0.65  0.67
2       Recall   0.41  0.38

Depth: 3
  Error_metric  Train  Test
0     Accuracy   0.78  0.78
1    Precision   0.65  0.67
2       Recall   0.41  0.38

Depth: 4
  Error_metric  Train  Test
0     Accuracy   0.79  0.77
1    Precision   0.68  0.64
2       Recall   0.39  0.35

Depth: 5
  Error_metric  Train  Test
0     Accuracy   0.80  0.79
1    Precision   0.66  0.65
2       Recall   0.48  0.48

Depth: 6
  Error_metric  Train  Test
0     Accuracy   0.80  0.79
1    Precision   0.74  0.71
2       Recall   0.39  0.37

Depth: 7
  Error_metric  Train  Test
0     Accuracy   0.81  0.79
1    Precision   0.70  0.66
2       Recall   0.51  0.47

Depth: 8
  Error_metric  Train  Test
0     Accuracy   0.82  0.77
1    Precision   0.72  0.60
2       Recall   0.55  0.44

Depth: 9
  Error_metric  Train  Test
0     Accuracy   0.84  0.78
1    Precision   0.75  0.62
2       Recall   0.58  0.47

Depth: 10
  Error_metric  Train  Test
0     Accuracy   0.86  0.77
1    Precision   0.80  0.59
2       Recall   0.61  0.44

Depth: 11
  Error_metric  Train  Test
0     Accuracy   0.88  0.77
1    Precision   0.83  0.58
2       Recall   0.67  0.47

Depth: 12
  Error_metric  Train  Test
0     Accuracy   0.89  0.76
1    Precision   0.87  0.58
2       Recall   0.69  0.43

Depth: 13
  Error_metric  Train  Test
0     Accuracy   0.91  0.75
1    Precision   0.88  0.54
2       Recall   0.76  0.48

Depth: 14

C:\Users\frede\.conda\envs\Ironhack\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\frede\.conda\envs\Ironhack\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

  Error_metric  Train  Test
0     Accuracy   0.92  0.74
1    Precision   0.93  0.53
2       Recall   0.77  0.44

In [30]:
scores=cross_val_score(model, X_train, y_train, cv=5) # 5 cv foldings
scores

model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.7273700120251978, 'Logistic Regression': 0.7905580921070258, 'KNN': 0.7674820055445145}

<br><h3>**Using downsampling**<br>

In [32]:
churnData_df = pd.read_csv(r'DATA_Customer-Churn.csv')
churnData_df['TotalCharges'] = pd.to_numeric(churnData_df['TotalCharges'], errors="coerce")
churnData_df.fillna(churnData_df.mean())
churnData_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [34]:
churnData_df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [36]:
category_0 = churnData_df[churnData_df['Churn'] == "No"] # negative class (majority)
category_1 = churnData_df[churnData_df['Churn'] == "Yes"] # positive class (minority)

In [37]:
print(category_0.shape)
print(category_1.shape)

(5174, 16)
(1869, 16)

In [38]:
c1_len = len(category_1)
c1_len

1869

In [39]:
category_0_down = category_0.sample(c1_len)
print(category_0_down.shape)
print(category_1.shape)

(1869, 16)
(1869, 16)

In [40]:
# reassemble the data
churnData_df = pd.concat([category_0_down, category_1], axis=0)
# shuffle the data
churnData_df = churnData_df.sample(frac=1) # frac specifies ratio of the shuffled output to the input size. for frac=1 the number of rows is unchanged
churnData_df['Churn'].value_counts()

Yes    1869
No     1869
Name: Churn, dtype: int64

In [41]:
churnData_df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
6074,Male,0,Yes,No,1,No,No,No,No,No,No,No,Month-to-month,23.45,23.45,Yes
5128,Female,1,Yes,No,47,Yes,No,No,Yes,No,Yes,Yes,Month-to-month,99.70,4747.20,No
978,Male,1,Yes,No,62,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.75,6383.35,Yes
1159,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,No,Month-to-month,80.40,224.05,Yes
2570,Male,0,Yes,No,30,Yes,No,No,No,No,Yes,Yes,Month-to-month,94.05,2866.45,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524,Male,0,Yes,No,23,Yes,Yes,Yes,Yes,No,Yes,No,Month-to-month,99.25,2186.40,Yes
4736,Female,0,Yes,Yes,56,Yes,Yes,Yes,Yes,Yes,Yes,No,Two year,81.25,4620.40,No
724,Male,1,Yes,No,33,Yes,No,No,No,No,Yes,Yes,Month-to-month,94.50,3105.55,Yes
5174,Female,0,No,No,7,Yes,No,No,No,No,Yes,No,Month-to-month,80.30,526.70,Yes
2148,Male,0,No,Yes,6,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.55,128.60,No

In [42]:
churnData_df.drop(["gender","Partner","Dependents","PhoneService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract"],axis=1,inplace=True)
churnData_df = churnData_df.fillna(churnData_df.mean())
churnData_df['Churn'] = churnData_df['Churn'].replace({'Yes': 1, 'No': 0})

In [43]:
RAND_STATE = 34 # for reproducible shuffling
TT_RATIO = 0.3 # test/train

X = churnData_df.drop('Churn', axis=1)
y = churnData_df.Churn
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TT_RATIO, random_state=RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
1939              0       1           21.05         21.05
6864              1       3           25.30         77.75
2924              0      11           74.55        824.75
2131              0      42           48.15       2032.30
5616              0      38           54.50       2076.05

In [44]:
scores=cross_val_score(model, X_train, y_train, cv=5) # 5 cv foldings
scores

model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.6773780158510064, 'Logistic Regression': 0.7503867879088639, 'KNN': 0.7025936683549108}

<br><h3>**Upsampling using SMOTE**<br>

In [65]:
churnData_df = pd.read_csv(r'DATA_Customer-Churn.csv')
churnData_df['TotalCharges'] = pd.to_numeric(churnData_df['TotalCharges'], errors="coerce")
churnData_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [66]:
churnData_df.drop(["gender","Partner","Dependents","PhoneService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract"],axis=1,inplace=True)
churnData_df = churnData_df.fillna(churnData_df.mean())

In [67]:
print(churnData_df.isnull().sum())

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
Churn             0
dtype: int64

In [68]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [69]:
y = churnData_df['Churn']
X = churnData_df.drop(['Churn'], axis=1)
y.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [70]:
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

No     5174
Yes    5174
Name: Churn, dtype: int64

In [71]:
scores=cross_val_score(model, X_train, y_train, cv=5) # 5 cv foldings
scores

model1 = DecisionTreeClassifier()
model2 = LogisticRegression()
model3 = KNeighborsClassifier()

model_pipeline = [model1, model2, model3]
model_names = ['Classification Tree', 'Logistic Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Classification Tree': 0.6804343701195393, 'Logistic Regression': 0.7503867879088639, 'KNN': 0.7025936683549108}