In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from time import sleep
from random import randint
import math

In [3]:
population = 83.1

In [4]:
url="https://www.finanzen.net/index/dax"

In [5]:
response = requests.get(url)

In [6]:
response.status_code

200

In [7]:
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
#IndexShareListValues > table > tbody > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > a
#IndexShareListValues > table > tbody > tr:nth-child(2) > td:nth-child(1) > div:nth-child(1) > a

In [9]:
soup.select("#IndexShareListValues > table > tbody> tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > a")

In [10]:
links=[]
for i in range(1,40):
    links.append(soup.select("#IndexShareListValues > table > tbody> tr:nth-child("+str(i)+") > td:nth-child(1) > div:nth-child(1) > a"))

In [11]:
links

[[<a href="/aktien/adidas-aktie" title="adidas Aktie">adidas</a>],
 [<a href="/aktien/airbus-aktie" title="Airbus Aktie">Airbus</a>],
 [<a href="/aktien/allianz-aktie" title="Allianz Aktie">Allianz</a>],
 [<a href="/aktien/basf-aktie" title="BASF Aktie">BASF</a>],
 [<a href="/aktien/bayer-aktie" title="Bayer Aktie">Bayer</a>],
 [<a href="/aktien/beiersdorf-aktie" title="Beiersdorf Aktie">Beiersdorf</a>],
 [<a href="/aktien/bmw-aktie" title="BMW Aktie">BMW</a>],
 [<a href="/aktien/brenntag-aktie" title="Brenntag Aktie">Brenntag</a>],
 [<a href="/aktien/commerzbank-aktie" title="Commerzbank Aktie">Commerzbank</a>],
 [<a href="/aktien/continental-aktie" title="Continental Aktie">Continental</a>],
 [<a href="/aktien/covestro-aktie" title="Covestro Aktie">Covestro</a>],
 [<a href="/aktien/daimler_truck-aktie" title="Daimler Truck Aktie">Daimler Truck</a>],
 [<a href="/aktien/deutsche_bank-aktie" title="Deutsche Bank Aktie">Deutsche Bank</a>],
 [<a href="/aktien/deutsche_boerse-aktie" title="Deutsche Börse Aktie">Deutsche Börse</a>],
 [<a href="/aktien/deutsche_post-aktie" title="Deutsche Post Aktie">Deutsche Post</a>],
 [<a href="/aktien/deutsche_telekom-aktie" title="Deutsche Telekom Aktie">Deutsche Telekom</a>],
 [<a href="/aktien/eon-aktie" title="E.ON Aktie">E.ON</a>],
 [<a href="/aktien/fresenius-aktie" title="Fresenius Aktie">Fresenius</a>],
 [<a href="/aktien/hannover_rueck-aktie" title="Hannover Rück Aktie">Hannover Rück</a>],
 [<a href="/aktien/heidelbergcement-aktie" title="HeidelbergCement Aktie">HeidelbergCement</a>],
 [<a href="/aktien/henkel_vz-aktie" title="Henkel vz. Aktie">Henkel vz.</a>],
 [<a href="/aktien/infineon-aktie" title="Infineon Aktie">Infineon</a>],
 [<a href="/aktien/mercedes-benz-aktie" title="Mercedes-Benz Group (ex Daimler) Aktie">Mercedes-Benz Group (ex Daimler)</a>],
 [<a href="/aktien/merck-aktie" title="Merck Aktie">Merck</a>],
 [<a href="/aktien/mtu-aktie" title="MTU Aero Engines Aktie">MTU Aero Engines</a>],
 [<a href="/aktien/munich_re-aktie" title="Münchener Rückversicherungs-Gesellschaft Aktie">Münchener Rückversicherungs-Gesellschaft</a>],
 [<a href="/aktien/porsche_sportwagen-aktie" title="Porsche Aktie">Porsche</a>],
 [<a href="/aktien/porsche-aktie" title="Porsche Automobil vz. Aktie">Porsche Automobil vz.</a>],
 [<a href="/aktien/qiagen-aktie" title="QIAGEN Aktie">QIAGEN</a>],
 [<a href="/aktien/rheinmetall-aktie" title="Rheinmetall Aktie">Rheinmetall</a>],
 [<a href="/aktien/rwe-aktie" title="RWE Aktie">RWE</a>],
 [<a href="/aktien/sap-aktie" title="SAP Aktie">SAP</a>],
 [<a href="/aktien/sartorius_vz-aktie" title="Sartorius vz. Aktie">Sartorius vz.</a>],
 [<a href="/aktien/siemens-aktie" title="Siemens Aktie">Siemens</a>],
 [<a href="/aktien/siemens_energy-aktie" title="Siemens Energy Aktie">Siemens Energy</a>],
 [<a href="/aktien/siemens_healthineers-aktie" title="Siemens Healthineers Aktie">Siemens Healthineers</a>],
 [<a href="/aktien/symrise-aktie" title="Symrise Aktie">Symrise</a>],
 [<a href="/aktien/volkswagen_vz-aktie" title="Volkswagen (VW) vz. Aktie">Volkswagen (VW) vz.</a>],
 [<a href="/aktien/vonovia-aktie" title="Vonovia Aktie">Vonovia</a>]]

In [12]:
links[3][0]['href']

'/aktien/basf-aktie'

In [13]:
company=[]
for i in range(39):
    company.append(links[i][0]['title'].replace(' Aktie', ''))

In [14]:
url2 = "https://www.finanzen.net" + links[30][0]["href"]
url2

'https://www.finanzen.net/aktien/rwe-aktie'

In [15]:
#body > main > section:nth-child(7) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)
#body > main > section:nth-child(8) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)
#body > main > section:nth-child(9) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)

In [16]:
no_shares=[]
for i in range(39):
    url2 = "https://www.finanzen.net" + links[i][0]["href"]
    response2 = requests.get(url2)
    soup = BeautifulSoup(response2.content, "html.parser")
    try:
        no_shares.append(soup.select("body > main > section:nth-child (5) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)")[0].get_text("/", strip=True))
    except:
        try:
            no_shares.append(soup.select("body > main > section:nth-child(6) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)")[0].get_text("/", strip=True))
        except:
            try:
                no_shares.append(soup.select("body > main > section:nth-child(7) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)")[0].get_text("/", strip=True))
            except:
                try:
                    no_shares.append(soup.select("body > main > section:nth-child(8) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)")[0].get_text("/", strip=True))
                except:
                    try:
                        no_shares.append(soup.select("body > main > section:nth-child(9) > div > article:nth-child(2) > div.grid.grid--gap-col-150 > div:nth-child(2) > div > table > tbody > tr:nth-child(1) > td:nth-child(2)")[0].get_text("/", strip=True))
                    except:
                        no_shares.append("0")
    wait_time = randint(1,2)
    sleep(wait_time)

In [17]:
no_shares = [s.replace('.', '') for s in no_shares]
no_shares = [s.replace(',', '.') for s in no_shares]
no_shares = ([float(x) for x in no_shares])

In [18]:
dax_df = pd.DataFrame(list(zip(company, no_shares)),
               columns =['company', 'no_shares'])

In [19]:
shares_pP=[]
for i in range(len(company)):
    shares_pP.append(math.ceil(dax_df.no_shares[i]/population))
dax_df['shares_pP'] = shares_pP

In [20]:
dax_df

                                     company  no_shares  shares_pP
0                                     adidas     178.54          3
1                                     Airbus     789.75         10
2                                    Allianz     401.59          5
3                                       BASF     918.48         12
4                                      Bayer     982.42         12
5                                 Beiersdorf     226.82          3
6                                        BMW     586.68          8
7                                   Brenntag     154.50          2
8                                Commerzbank    1252.36         16
9                                Continental     200.01          3
10                                  Covestro     189.95          3
11                             Daimler Truck       0.00          0
12                             Deutsche Bank    2035.24         25
13                            Deutsche Börse     183.74          3
14                             Deutsche Post    1198.74         15
15                          Deutsche Telekom    4972.70         60
16                                      E.ON    2610.38         32
17                                 Fresenius     557.55          7
18                             Hannover Rück     120.57          2
19                          HeidelbergCement     186.19          3
20                                Henkel vz.     165.21          2
21                                  Infineon    1302.23         16
22          Mercedes-Benz Group (ex Daimler)    1069.44         13
23                                     Merck     129.24          2
24                          MTU Aero Engines      53.71          1
25  Münchener Rückversicherungs-Gesellschaft     137.64          2
26                                   Porsche       0.00          0
27                     Porsche Automobil vz.     153.13          2
28                                    QIAGEN     227.72          3
29                               Rheinmetall      43.38          1
30                                       RWE     743.84          9
31                                       SAP    1167.11         15
32                             Sartorius vz.      34.19          1
33                                   Siemens     788.80         10
34                            Siemens Energy     792.19         10
35                      Siemens Healthineers    1119.39         14
36                                   Symrise     139.77          2
37                       Volkswagen (VW) vz.     206.20          3
38                                   Vonovia     795.85         10

In [25]:
in_posession={'adidas':3,'Airbus':0,'Allianz':5,'BASF':22,'Bayer':12,'Beiersdorf':3,'BMW':8,'Brenntag':2,'Commerzbank':5,'Continental':10,
 'Covestro':2,'Daimler Truck':7,'Deutsche Bank':25,'Deutsche Börse':2,'Deutsche Post':15,'Deutsche Telekom':58,'E.ON':32,'Fresenius':4,
 'Hannover Rück':0,'HeidelbergCement':2,'Henkel vz.':5,'Infineon':14,'Mercedes-Benz Group (ex Daimler)':13,'Merck':2,'MTU Aero Engines':1,
 'Münchener Rückversicherungs-Gesellschaft':2,'Porsche':0,'Porsche Automobil vz.':0,'QIAGEN':3,'Rheinmetall':0,'RWE':7,'SAP':15,
 'Sartorius vz.':1,'Siemens':10,'Siemens Energy':9,'Siemens Healthineers':14,'Symrise':0,'Volkswagen (VW) vz.':0,'Vonovia':6}

In [26]:
dax_df['in_posession'] = dax_df['company'].map(in_posession)

In [27]:
dax_df

,company,no_shares,shares_pP,in_posession
0,adidas,178.54,3,3
1,Airbus,789.75,10,0
2,Allianz,401.59,5,5
3,BASF,918.48,12,22
4,Bayer,982.42,12,12
5,Beiersdorf,226.82,3,3
6,BMW,586.68,8,8
7,Brenntag,154.50,2,2
8,Commerzbank,1252.36,16,5
9,Continental,200.01,3,10
10,Covestro,189.95,3,2
11,Daimler Truck,0.00,0,7
12,Deutsche Bank,2035.24,25,25
13,Deutsche Börse,183.74,3,2
14,Deutsche Post,1198.74,15,15
15,Deutsche Telekom,4972.70,60,58
16,E.ON,2610.38,32,32
17,Fresenius,557.55,7,4
18,Hannover Rück,120.57,2,0
19,HeidelbergCement,186.19,3,2
20,Henkel vz.,165.21,2,5
21,Infineon,1302.23,16,14
22,Mercedes-Benz Group (ex Daimler),1069.44,13,13
23,Merck,129.24,2,2
24,MTU Aero Engines,53.71,1,1
25,Münchener Rückversicherungs-Gesellschaft,137.64,2,2
26,Porsche,0.00,0,0
27,Porsche Automobil vz.,153.13,2,0
28,QIAGEN,227.72,3,3
29,Rheinmetall,43.38,1,0
30,RWE,743.84,9,7
31,SAP,1167.11,15,15
32,Sartorius vz.,34.19,1,1
33,Siemens,788.80,10,10
34,Siemens Energy,792.19,10,9
35,Siemens Healthineers,1119.39,14,14
36,Symrise,139.77,2,0
37,Volkswagen (VW) vz.,206.20,3,0
38,Vonovia,795.85,10,6